# --- Laravel: backend ---
/backend/vendor
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/framework/*
!/backend/storage/framework/.gitignore
/backend/storage/logs/*
!/backend/storage/logs/.gitignore
/backend/.env
/backend/.env.*
!/backend/.env.example
/backend/.phpunit.cache
/backend/.phpunit.result.cache
/backend/.phpactor.json
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/auth.json
/backend/.idea
/backend/.vscode
/backend/.nova
/backend/.fleet
/backend/.zed

# --- ReactJS: frontend ---
/frontend/node_modules
/frontend/build
/frontend/dist
/frontend/dist-ssr
/frontend/.env
/frontend/.env.*
!/frontend/.env.example
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*
/frontend/.cache
/frontend/coverage
/frontend/.idea
/frontend/.vscode
/frontend/.DS_Store
